{% extends 'home/base.html' %}
{% block content %}
    <div style="margin-top: 10px;">
        <ul style="display: inline;">
           <img style="width: 180px; height: 188px; float: left;" class="container p-1" src="static/home/pic3.jpg"><img style="width: 180px; height: 188px; float: right;" class="container p-1" src="static/home/pic2.jpg">
        </ul>
    </div>
    <div style="margin-top: 10px;" class="container border rounded" style="background-color: whitesmoke;">
        <section>
            <img class="container p-1" src="static/home/pic1.jpg">
        </section>
        <h2 style="color: rgb(255, 94, 0); text-transform: capitalize;" class="text-center lead">we have 1000+ outlet worldwide with over 4000 workers who ensure fast delivery of your item.</h2>
    </div>
    <div style="margin-top: 10px;" class="container border rounded" style="background-color: whitesmoke;">
        <section>
            <img class="container p-1" src="static/home/pic3.jpg">
        </section>
        <h2 style="color: rgba(0, 0, 0, 0.508); text-transform: capitalize;" class="text-center lead">your item(s) is deliverd straight to your address on or before time</h2>
    </div>
{% endblock content %}